@model Application.Orders.DTO.GetOrderCustomerDetailForAdminDataModel
@{
    ViewData["Title"] = "جزئیات سفارش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4> جزییات سفارش </h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <div class="text-danger"></div>
            <label asp-for="UserName">نام کاربر</label>
            <input id="Name" type="text" class="form-control" value="@Model.UserName" readonly>

            <label asp-for="UserName">شماره تلفن</label>
            <input id="Name" type="text" class="form-control" value="@Model.PhoneNumber" readonly>

            <div class="form-group mb-4">
                <label asp-for="UserName">آدرس</label>
                <input id="Name" type="text" class="form-control" value="@Model.Address" readonly>
            </div>

            <table class="multi-table table table-hover dataTable" style="width: 100%;" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 104px;">نام کالا</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 104px;">تعداد کالا</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.orderDetailForAdminDataModels)
                    {
                    <tr role="row">
                        <td class="sorting_1">@item.ProductOrderName</td>
                        <td class="sorting_1">@item.ProductOrderQty</td>                      
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

