@model Application.Baskets.DTO.BasketDataModel
@{
    ViewData["Title"] = "سبد محصول";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-xl-9 col-lg-8 col-md-8 mb-md-0 mb-3">
            <div class="checkout-section shadow-around">
                <div class="checkout-section-content">
                    <div class="cart-items">

                        @foreach (var item in Model.Items)
                        {
                            <div class="cart-item py-4 px-3">
                                <div class="item-thumbnail">
                                    <a href="#">
                                        <img src="@item.ImageUrl" alt="item">
                                    </a>
                                </div>
                                <div class="item-info flex-grow-1">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">
                                                @item.CatalogName
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-quantity--item-price">
                                            <div class="item-quantity">
                                                <div class="num-block">
                                                    <div class="num-in">
                                                        <span class="plus"></span>
                                                        <input type="text" class="in-num" 
                                                               onchange="SetQuantity('@item.CategoryItemId')" 
                                                               id="Qty-@item.CategoryItemId" 
                                                               value="@item.Qty" readonly="">
                                                        <span class="minus dis"></span>
                                                    </div>
                                                </div>
                                                <form method="post" asp-controller="Basket" asp-action="RemoveItemFromBasket">
                                                    <input name="ItemId" type="hidden" value="@item.Id" />

                                                    <button type="submit" class="item-remove-btn mr-3">
                                                        <i class="far fa-trash-alt"></i>
                                                        حذف
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="item-price">
                                                @{var price = (item.UnitPrice * item.Qty);

                                                    <text> <p>@price.ToString("n0")</p></text>
                                                }
                                                <span class="text-sm mr-1">تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4">
            <div class="shadow-around pt-3">
                <div class="d-flex justify-content-between px-3 py-2">
                    <span class="text-muted">قیمت کالاها (@Model.Items.Count)</span>
                    <span class="text-muted">
                        @Model.TotalWithOutDiescount().ToString("n0")
                        <span class="text-sm">تومان</span>
                    </span>
                </div>
                @*@if (Model.DiscountAmount > 0)
                    {
                        <div class="d-flex justify-content-between px-3 py-2">
                            <span class="text-muted">تخفیف کالاها</span>
                            <span class="text-danger">
                                @Model.DiscountAmount.ToString("n0")
                                <span class="text-sm">تومان</span>
                            </span>
                        </div>
                        <div class="d-flex justify-content-between px-3 py-2">
                            <a asp-action="RemoveDiscount" asp-route-id="@Model.Id" class="text-danger">
                                <i class="fa fa-closed-captioning"></i>
                                حذف تخفیف
                            </a>
                        </div>
                    }*@
                <hr>
                @*<div class="d-flex justify-content-between px-3 py-2">
                        <span class="font-weight-bold">جمع</span>
                        <span class="font-weight-bold">
                            @Model.Total().ToString("n0")
                            <span class="text-sm">تومان</span>
                        </span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between px-3 py-2">
                        <span class="font-weight-bold">مبلغ قابل پرداخت</span>
                        <span class="font-weight-bold">
                            @Model.Total().ToString("n0")
                            <span class="text-sm">تومان</span>
                        </span>
                    </div>*@
                <div class="d-flex px-3 py-4">
                    <a asp-action="ShippingPayment" class="btn btn-danger btn-block py-2">ادامه فرایند خرید</a>
                </div>

                <form method="post" asp-action="ApplyDiscount">
                    <input type="hidden" value="@Model.Id" name="BasketId" />
                    <hr />
                    <div class="d-flex justify-content-between px-3 py-2">
                        <p class="small">آیا کد تخفیف دارید؟</p>
                    </div>
                    <div class="d-flex justify-content-between px-3 py-2">

                        <span class="font-weight-bold">کد </span>
                        <span class="font-weight-bold">

                            <input type="text" name="CouponCode" class="form-control" />
                        </span>
                    </div>
                    <div class="d-flex px-3 py-4">
                        <button class="btn btn-block py-2">ثبت کد تخفیف</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        function SetQuantity(itemId) {
            var qty = parseInt($('#Qty-' + itemId).val());

            var postData = {
                'categoryItemId': itemId,
                'Qty': qty
            };
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "/Basket/Index",
                data: postData,
                success: function () {
                    location.reload();
                } ,
                error: function (request, status, error) {
                    alert(request.responseText);
                }

            })
        }

    </script>

}

